.cuerpo {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     margin: 3%;
     padding: 70px;
     align-items: center;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}