.navbar1 { 
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 10%;
   font-weight: 600;
}

.li, .titulo {
    text-decoration: none;
    font-weight: 600;
    color: antiquewhite;
    font-size: 16px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.navLinks1 , .boton {
    list-style: none;
}

.navLinks1 .li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks1 .li .titulo {
    transition: all 0.3s ease 0s;
}

.navLinks1 .li a:hover {
    color: rgb(171, 123, 22);
}
.boton {
    margin-left: 20px;
    padding: 7px 35px;
    background-color: rgb(171, 123, 22);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.boton:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.titulo .boton {
        font-weight: 600;
        font-size: 18px;
        color: antiquewhite;
}

.fotologo {
    height: 6%;
    width: 6%;
    cursor: pointer;
}

