.caja {
    background-color: black;
    margin-top: 10%;
    padding: 5%;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    text-align: center;
    font-weight: 700;
}